h1{
    margin-bottom: 30px;
    color: rgb(3, 0, 0);
    text-decoration: underline;
}
input{
    margin-right: 10px;
    margin-bottom: 20px;
    width: 200px;
    background-color: rgba(253, 253, 253, 0.795);
    border: solid;
    font-weight: bold;
}
button{
    margin-bottom: 20px;
    background-color: rgb(229, 204, 243);
    font-weight: bold;
}
hr{
    margin-bottom: 15px;
}
body{
    background-color: rgb(210, 236, 233);
}
